body {
  background-color: white;
}
.container {
  max-width: 450px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  padding: 40px 30px 40px 30px;
  margin: 90px auto;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  border: 1px solid #dadce0;
  max-height: 700px;
  text-transform: capitalize;
}
