body {
  background-color: lightgray;
}
.container {
  max-width: 450px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  padding: 30px 30px 180px 30px;
  margin: 120px auto;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  border: 1px solid #dadce0;
  max-height: 800px;
}
