.Search {
  text-align: left;
}

.searchBar {
  padding: 0.265rem 0.45rem;
  border-radius: 4px;
  width: 50%;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.searchButton {
  color: back;
  background-color: white;
  border-radius: 4px;
  position: relative;
  left: 10px;
  margin: 0px !important;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  transition: all 1s ease-out;
}

.searchButton:hover {
  background-color: #dae0e5;
  color: black;
}
