.weatherForecast {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  padding-left: 8px;
  color: red;
}

.weatherForecast .dateForecast {
  font-size: 17px;
}

.weatherForecast .iconForecast canvas {
  display: block;
}

.forecastCss {
  margin-left: 5px;
  padding: 0px auto;
}
